$primary-color: #2f49d1;
$info-color: #5887ff;
$danger-color: #f26464;
$warning-color: #ffb648;
$success-color: #4bde97;
$title-color: #171717;
$body-color: #767676;
$label-color: #b9b9b9;
$input-background-color: #eff0f6;
$placeholder-color: #d6d7e3;
$border-color: #eeeeee;
$white-color: white;
$second-color: #b6c1e9;
$background-color: #f0f2fa;

$width-sidebar: 253px;
$width-sidebar-optional: 65px;
